body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: hsl(148, 38%, 91%);
  font-family: "Karla", sans-serif;
}

main {
  background-color: hsl(0, 0%, 100%);
  width: 95%;
  margin: 7% auto;
  padding: 3% 6%;
  border-radius: 10px;
}

h1 {
  color: hsl(187, 24%, 22%);
  font-size: 2rem;
  margin-bottom: 32px;
}

input,
legend {
  margin-right: 8px;
  color: hsl(187, 24%, 22%);
}

input[type="text"],
input[type="email"],
textarea {
  border: 1px solid hsl(186, 15%, 59%);
  border-radius: 10px;
  width: 100%;
  padding: 16px 8px;
  margin-top: 12px;
}

label[for="firstname"],
label[for="lastName"],
label[for="email"],
label[for="message"] {
  display: inline-block;
  margin-top: 32px;
}

legend {
  padding-top: 32px;
}

label[for="firstName"]:after,
label[for="lastName"]:after,
label[for="email"]:after,
label[for="message"]:after,
label[for="consent"]:after,
legend::after {
  content: " *";
}

input:focus,
textarea:focus {
  border: 2px solid hsl(169, 82%, 27%);
  outline: none;
}

fieldset {
  border: 0;
  padding: 0;
  margin-top: 8px;
  margin-bottom: 16px;
}

.radio-container {
  border: 1px solid hsl(186, 15%, 59%);
  border-radius: 10px;
  padding: 12px;
  width: 100%;
  margin-top: 16px;
}

input[type="radio"] {
  accent-color: hsl(169, 82%, 27%);
}

.radio-container:has(input[type="radio"]:checked + label) {
  color: hsl(169, 82%, 27%);
  background-color: hsl(148, 38%, 91%);
  border: 2px solid hsl(169, 82%, 27%);
  accent-color: hsl(169, 82%, 27%);
}

label[for="general"],
label[for="support"] {
  width: 100%;
}

.checkbox-and-label-container {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
}

label[for="consent"] {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

input[type="checkbox"]:checked {
  accent-color: hsl(169, 82%, 27%);
}

.error {
  color: hsl(0, 66%, 54%);
  margin-top: 0;
  margin-bottom: 32px;
  display: none;
}

input[type="button"] {
  background-color: hsl(169, 82%, 27%);
  color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 10px;
  width: 100%;
  padding: 16px;
  font-size: 1.5rem;
  margin-top: 40px;
  margin-bottom: 18px;
}

.success {
  background-color: hsl(187, 24%, 22%);
  color: hsl(0, 0%, 100%);
  border-radius: 10px;
  padding: 8%;
  display: none;
}

.success-header {
  display: flex;
  flex-direction: row;
  vertical-align: middle;
}

h2 {
  padding: 0;
  font-size: 1.5rem;
  margin-top: 0;
  margin-left: 12px;
}

.success p {
  color: hsl(186, 15%, 59%);
  font-size: 1.25rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 600px) {
  main {
    width: 60%;
  }

  .name-container {
    display: flex;
    justify-content: space-between;
  }

  .first-last-container {
    width: 49%;
  }

  label[for="lastName"] {
    margin-top: 0;
  }

  fieldset {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .radio-container {
    width: 49%;
  }

  input:hover,
  textarea:hover,
  label:hover {
    cursor: pointer;
  }

  input[type="button"]:hover {
    background-color: hsl(170, 80%, 14%);
  }
}
